include ./mixins/brick
doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        include ./slides/intro
        include ./slides/algolia
        include ./slides/demo
        include ./slides/serverless



        section My Algolia
        section Numbers today
        section Numbers when I joined
        section what changed and what didn't?
        section offices in various countries (new coming, we're hiring)
        section different countries, different culture, no culture fit
        section values instead
        section Ownership is Trust + Grit
        section Transparency is Trust + Candor
        section Feedback is Candor + Care
        section Constant improvement is Humility + Grit

        section Two things to remember:
          // - We do search and we do it right
          // - Don't be too obsessed with culture fit, but define the values of your organisation




        include ./slides/conclusion

        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
