mixin brick(width, height, color)
  .brick-container
    .brick
      .brick-face.front.bg-gradient-blue.flcnw.flc
        img.mh-80.mw-80(src='./img/algolia/algolia-dark.svg')
      .brick-face.back.bg-gradient-blue-inverted.flcnw.flc
        img.mh-80.mw-80(src='./img/algolia/algolia-dark.svg')
      .brick-face.right.bg-algolia-blue
      .brick-face.left.bg-royal-blue
      .brick-face.top.bg-gradient-blue
      .brick-face.bottom.bg-gradient-blue

