// ABSOLUTE POSITIONNING {{{
.absolute-0 { position: absolute; top: 0; right: 0; bottom: 0; left: 0; }
.bottom-aside { bottom: $aside-horizontal-height; }
.left-aside { left: $aside-vertical-width; }

.top-3    { top:    4rem; }
.right-3  { right:  4rem; }
.bottom-3 { bottom: 4rem; }
.left-3   { left:   4rem; }

.top-4    { top:    8rem; }
.right-4  { right:  8rem; }
.bottom-4 { bottom: 8rem; }
.left-4   { left:   8rem; }

.top-5    { top:    16rem; }
.right-5  { right:  16rem; }
.bottom-5 { bottom: 16rem; }
.left-5   { left:   16rem; }

.top--3    { top:    -4rem; }
.right--3  { right:  -4rem; }
.bottom--3 { bottom: -4rem; }
.left--3   { left:   -4rem; }

.top--4    { top:    -8rem; }
.right--4  { right:  -8rem; }
.bottom--4 { bottom: -8rem; }
.left--4   { left:   -8rem; }

.top--5    { top:    -16rem; }
.right--5  { right:  -16rem; }
.bottom--5 { bottom: -16rem; }
.left--5   { left:   -16rem; }


// Absolute positionning
@for $i from 1 through 20 {
  $percent: $i * 5;
  .top-#{$percent} { top: $percent + %; }
  .right-#{$percent} { right: $percent + %; }
  .bottom-#{$percent} { bottom: $percent + %; }
  .left-#{$percent} { left: $percent + %; }
}

.absolute-center-horizontal { 
  position: absolute;
  left: 50%; 
  transform: translateX(-50%);
}
.absolute-center-vertical { 
  position: absolute;
  top: 50%; 
  transform: translateY(-50%);
}
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
// }}}
