// BACKGROUND {{{
.bg-top { background-repeat: no-repeat; background-position: top }
.bg-center { background-repeat: no-repeat; background-position: center }
.bg-cover { background-repeat: no-repeat; background-size: cover; }
.bg-contain { background-repeat: no-repeat; background-size: contain; }
.bg-bottom-right { background-repeat: no-repeat; background-position: bottom right; }
// }}}
