[class^="brands-"], [class*=" brands-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'algolia-brands-iconfont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.brands-vouchercodes:before {
  content: "\e927"; }

.brands-algolia:before {
  content: "\e926"; }

.brands-idealist:before {
  content: "\e925"; }

.brands-jbhifi:before {
  content: "\e921"; }

.brands-mailjet:before {
  content: "\e922"; }

.brands-balinea:before {
  content: "\e923"; }

.brands-streema:before {
  content: "\e924"; }

.brands-evolution-7:before {
  content: "\e91f"; }

.brands-alltrails:before {
  content: "\e920"; }

.brands-quicksilver:before {
  content: "\e91d"; }

.brands-stripe:before {
  content: "\e91e"; }

.brands-underarmour:before {
  content: "\e91a"; }

.brands-strava:before {
  content: "\e91b"; }

.brands-abascus:before {
  content: "\e91c"; }

.brands-calvin-klein:before {
  content: "\e900"; }

.brands-the-kooples:before {
  content: "\e901"; }

.brands-teespring:before {
  content: "\e902"; }

.brands-play:before {
  content: "\e903"; }

.brands-8tracks:before {
  content: "\e904"; }

.brands-aftership:before {
  content: "\e905"; }

.brands-alittlemarket:before {
  content: "\e906"; }

.brands-arcteryx:before {
  content: "\e907"; }

.brands-birchbox:before {
  content: "\e908"; }

.brands-blablacar:before {
  content: "\e909"; }

.brands-craftsy:before {
  content: "\e90a"; }

.brands-crunchbase:before {
  content: "\e90b"; }

.brands-digitalocean:before {
  content: "\e90c"; }

.brands-fanatics:before {
  content: "\e90d"; }

.brands-genius:before {
  content: "\e90e"; }

.brands-jadopado:before {
  content: "\e90f"; }

.brands-livestream:before {
  content: "\e910"; }

.brands-lvmh:before {
  content: "\e911"; }

.brands-mairie-de-paris:before {
  content: "\e912"; }

.brands-medium:before {
  content: "\e913"; }

.brands-meta:before {
  content: "\e914"; }

.brands-mysale:before {
  content: "\e915"; }

.brands-periscope:before {
  content: "\e916"; }

.brands-producthunt:before {
  content: "\e917"; }

.brands-twitch:before {
  content: "\e918"; }

.brands-vevo:before {
  content: "\e919"; }
