// HEIGHT {{{
.h0 { height: 0; }
.h6 { height: 32rem; }
.h-8 { height: 8%; }

// All height by 5% increment
@for $i from 1 through 20 {
  $height: $i * 5;
  .h-#{$height} { height: $height + %; }
  .mh-#{$height} { max-height: $height + %; }
}
// }}}
