// WIDTHS {{{
.mw-33 { max-width: 33%; }
.mw1 { max-width: 1rem; }
.mw2 { max-width: 2rem; }
.mw3 { max-width: 4rem; }
.mw4 { max-width: 8rem; }
.mw5 { max-width: 16rem; }
.w-15 { width: 15%; }
// }}}
