// WIDTHS {{{
.mw-33 { max-width: 33%; }
.mw1 { max-width: 1rem; }
.mw2 { max-width: 2rem; }
.mw3 { max-width: 4rem; }
.mw4 { max-width: 8rem; }
.mw5 { max-width: 16rem; }

// All widths by 5% increment
@for $i from 1 through 20 {
  $width: $i * 5;
  .w-#{$width} { width: $width + %; }
  .mw-#{$width} { max-width: $width + %; }
}
// }}}
