// section Two things to remember:
//   // - We do search and we do it right
//   // - Don't be too obsessed with culture fit, but define the values of your organisation




// Questions
section.slide--horizontal.slide--theme1
  .bg-gradient-blue.white.h-100.flcnw.flc
    .f-headline
      .di.c-contact.c-contact--email(data-name='email')
        |tim@
        .di.c-contact.c-contact--website(data-name='company')
          .di.c-contact.c-contact--twitter(data-name='twitter')
            |algolia
          |.com

