// My Algolia
section.slide--horizontal.slide--theme1(data-transition='fade-out')
  .bg-gradient-orange.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 My Algolia

// Algolia 2015
section.slide--horizontal(data-transition='fade-out')
  .h-100.flcnw.pa3
    .fla.flrnw
      .fln.w-50.flcnw.tl
        .fln.flrnw.h3.flrcv
          img.fln.h-100.mr3(src='./img/algolia/old-logo.png')
          .fln.f1 in 2015
        .fla.flcnw.flcspa.mt3
          .fln.flcnw.f2
            .b.fln People
            .fln.ml3.flcnw
              .fln.bullet-shamrock 13 employees
              .fln.bullet-shamrock Offices in Paris and San Francisco
              .fln.bullet-shamrock 400+ customers
          .fln.flcnwn.f2
            .b.fln Infrastructure
            .fln.ml3.flcnw
              .fln.bullet-algolia-blue 2 Billion API calls / month
              .fln.bullet-algolia-blue 100 servers
              .fln.bullet-algolia-blue 4 datacenters in 4 regions

// Algolia 2017
section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fla.flrnw
      .fln.w-50.flcnw.tl.bunting-50
        .fln.flrnw.h3.flrcv
          img.fln.h-100.mr3.grayscale(src='./img/algolia/old-logo.png')
          .fln.f1 in 2015
        .fla.flcnw.flcspa.mt3
          .fln.flcnw.f2
            .b.fln People
            .fln.ml3.flcnw
              .fln.bullet-logan 13 employees
              .fln.bullet-logan Offices in Paris and San Francisco…
              .fln.bullet-logan 400+ customers
          .fln.flcnwn.f2
            .b.fln Infrastructure
            .fln.ml3.flcnw
              .fln.bullet-logan 2 Billion API calls / month
              .fln.bullet-logan 100+ servers
              .fln.bullet-logan 4 datacenters in 4 regions

      .fln.w-50.flcnw.tl
        .fln.flrnw.h3.flrcv.flrar
          img.fln.h-100.mr3(src='./img/algolia/algolia.svg')
          .fln.f1 in 2017
        .fla.flcnw.flcspa.mt3
          .fln.flcnw.f2
            .b.fln.invisible People
            .fln.ml3.flcnw
              .fln.bullet-shamrock 
                .b.di.shamrock 130+ 
                .di employees
              .fln.bullet-shamrock …and NYC, Atlanta and London
              .fln.bullet-shamrock 
                .b.di.shamrock 3000+ 
                .di customers
          .fln.flcnwn.f2
            .b.fln Infrastructure
            .fln.ml3.flcnw
              .fln.bullet-algolia-blue 
                .b.di.algolia-blue 30 Billion 
                .di API calls / month
              .fln.bullet-algolia-blue 
                .b.di.algolia-blue 1000+ 
                .di servers
              .fln.bullet-algolia-blue 
                .b.di.algolia-blue 52 
                .di datacenters in 
                .b.di.algolia-blue 14 
                .di regions
    aside.notes
      p Some things changed, some didn't
      p Scaling infrastructure is one thing, scaling company culture is another

// Different offices
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b 5 timezones, 2 continents, 1 company
    .fla.flrnw
      .fln.w-two-thirds.flcnw.flcspa.f1.tl
        .fln.bullet-shamrock.fragment(data-fragment-index=1) Company-wide call every week
        .fln.bullet-shamrock.fragment(data-fragment-index=2) Live camera between offices
        .fln.bullet-shamrock.fragment(data-fragment-index=3) 3 weeks stay in Paris
        .fln.bullet-shamrock.fragment(data-fragment-index=4) Yearly flight to other offices
      .fln.w-third.flcnw.relative
        .absolute.top-20.rotate-1.z-1.fragment(data-fragment-index=1)
          +polaroid('./img/photos/all-hands.jpg', 'All-Hands in Paris', 'scale-130')
        .absolute.left--20.top-20.rotate--2.z-2.fragment(data-fragment-index=2)
          +polaroid('./img/photos/alexk-webcam.jpg', 'Algolive', 'scale-130')
        .absolute.left--10.top-20.rotate-2.z-3.fragment(data-fragment-index=3)
          +polaroid('./img/photos/seine-break.jpg', 'Lunch by the Seine', 'scale-130')
        .absolute.top-20.rotate--1.z-4.fragment(data-fragment-index=4)
          +polaroid('./img/photos/in-and-out.jpg', 'In-N-Out Burger in San Francisco', 'scale-130')

// Different languages
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Talented people come from everywhere
    .fla.flcnw
      .fln.flrw.flrspb
        img(src='./img/flags/be.png')
        img(src='./img/flags/bg.png')
        img(src='./img/flags/ca.png')
        img(src='./img/flags/cn.png')
        img(src='./img/flags/cz.png')
        img(src='./img/flags/es.png')
        img(src='./img/flags/fr.png')
      .fla.f-subheadline.flc
        .db.flcnw.tl
          .fln.bullet-shamrock.mb4 Help them relocate
          .fln.bullet-shamrock Speak one language
      .fln.flrw.flrspb
        img(src='./img/flags/il.png')
        img(src='./img/flags/it.png')
        img(src='./img/flags/jp.png')
        img(src='./img/flags/lb.png')
        img(src='./img/flags/sl.png')
        img(src='./img/flags/us.png')
        img(src='./img/flags/vn.png')

// Different jobs 1/2
section.slide--horizontal(data-transition='fade-out')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b New people, new jobs
    .fla.flcnw.flcspa.relative
      .fln.bullet-shamrock.tl.f-subheadline 2 new people every week
      .fln.flcnw.tl.f1.fragment
        .fln.b New job titles:
        .fla.flrnw
          .fln.w-50.flcnw
            .bullet-algolia-blue.fragment Solution Engineer
            .bullet-algolia-blue.fragment Technical Writer
            .bullet-algolia-blue.fragment Developer Advocate
          .fln.w-50.flcnw
            .bullet-algolia-blue.fragment Account Executive
            .bullet-algolia-blue.fragment Brand Director
            .bullet-algolia-blue.fragment SRE, CSM, OSR MM

// Different jobs 2/2
section.slide--horizontal(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b New people, new jobs
    .fla.flcnw.flcspa.relative
      .fln.bullet-shamrock.tl.f-subheadline.bunting-50 2 new people every week
      .fln.flrw.tl.f1.bunting-50
        .w-100.b New job titles:
        .bullet-logan.w-50 Solution Engineer
        .bullet-logan.w-50 Account Executive
        .bullet-logan.w-50 Technical Writer
        .bullet-logan.w-50 Brand Director
        .bullet-logan.w-50 Developer Advocate
        .bullet-logan.w-50 SRE, AE, OSDR MM
      .absolute.top-20.left-30.rotate-1
        +polaroid('./img/photos/lunch-paris.jpg', 'Shared lunch', 'scale-130')
      .absolute.top-30.left-40.rotate--1.fragment
          +polaroid('./img/culture-bot.png', 'Slack Bot', 'scale-130')
      .absolute.top-20.left-30.rotate--2.fragment
          +polaroid('./img/photos/offsite-instantsearch.jpg', 'Team offsite', 'scale-130')
      .absolute.top-20.left-30.rotate-1.fragment
          +polaroid('./img/photos/frejus-jump.jpg', 'Company offsite', 'scale-130')

// Culture will change
section.slide--horizontal(data-transition='fade-out') 
  .h-100.flcnw.pa3
    .fla.flcnw
      .fla.flcnw.flc.f-subheadline
        .db Your culture is shaped by
        .db
          .di.b.algolia-blue all the people
        .db that are in your company at
        .db
          .di.b.algolia-blue any given time
      .fln.flrnw.f1.pa4
        .fla.fragment It 
          .di.b will 
          .di change.
        .fla.fragment Embrace it.
    aside.notes
      p Don't be too attached to your "unique" culture
      p It can change and still be unique
      p It's a living thing

// Stop Culture Fit, work on values
section.slide--horizontal.slide--theme1(data-transition='fade-in')
  .absolute.absolute-0.bg-cover.bg-top(style="background-image:url(./img/photos/josh-values-wall.jpg)")
    .absolute.absolute-0.bg-gradient-dark-90.white.h-100.flcnw.flc
      .f-headline.lh-title.flcnw
        .fln.mb5 Forget about 
          .di.b.bittersweet culture fit
        .fln Define 
          .di.b.shamrock your 
          .di.shamrock values 

// Algolia's Values
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Our values
    .fla.flrw.flrspa.h-100.flrcv
        .fla.flcnw
          .fln.h5.w5.pa3.bg-trust.br3.center
            img.h-100(src="./img/values/trust.png")
          .fln.b.trust.f1 Trust
        .fla.flcnw
          .fln.h5.w5.pa3.bg-care.br3.center
            img.h-100(src="./img/values/care.png")
          .fln.b.care.f1 Care
        .fla.flcnw
          .fln.h5.w5.pa3.bg-grit.br3.center
            img.h-100(src="./img/values/grit.png")
          .fln.b.grit.f1 Grit
        .fla.flcnw
          .fln.h5.w5.pa3.bg-humility.br3.center
            img.h-100(src="./img/values/humility.png")
          .fln.b.humility.f1 Humility
        .fla.flcnw
          .fln.h5.w5.pa3.bg-candor.br3.center
            img.h-100(src="./img/values/candor.png")
          .fln.b.candor.f1 Candor
  aside.notes
    p Check that in everything we do
    p Ask during interview what it means to them
    p One time they showed care
    p What is needed for trust, etc
    p Everyone has a different answer, see how are people aligned with that

// Combining values
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Combining values
    .fla.flcnw.flcspa.flcch
      .fln.flrnw.f-subheadline.flrcv
        .fln.ml3.flc
          .h3.w3.pa2.bg-grit.br3.f0
            img.h-100(src="./img/values/grit.png")
        .fln.ml2.b.grit Grit
        .fln.ml3 +
        .fln.ml3.flc
          .h3.w3.pa2.bg-trust.br3.f0
            img.h-100(src="./img/values/trust.png")
        .fln.ml2.b.trust Trust
        .fln.ml3 =
        .fln.ml3.b.gradient-grit-to-trust Ownership

      .fln.flrnw.f-subheadline.flrcv.fragment
        .fln.ml3.flc
          .h3.w3.pa2.bg-trust.br3.f0
            img(src="./img/values/trust.png")
        .fln.ml2.b.trust Trust
        .fln.ml3 +
        .fln.ml3.flc
          .h3.w3.pa2.bg-candor.br3.f0
            img.h-100(src="./img/values/candor.png")
        .fln.ml2.b.candor Candor
        .fln.ml3 =
        .fln.ml3.b.gradient-trust-to-candor Transparency

      .fln.flrnw.f-subheadline.flrcv.fragment
        .fln.ml3.flc
          .h3.w3.pa2.bg-candor.br3.f0
            img.h-100(src="./img/values/candor.png")
        .fln.ml2.b.candor Candor
        .fln.ml3 +
        .fln.ml3.flc
          .h3.w3.pa2.bg-care.br3.f0
            img.h-100(src="./img/values/care.png")
        .fln.ml2.b.care Care
        .fln.ml3 =
        .fln.ml3.b.gradient-candor-to-care Feedback
  aside.notes
    p Check that in everything we do
    p Ask during interview what it means to them
    p One time they showed care
    p What is needed for trust, etc
    p Everyone has a different answer, see how are people aligned with that
