// TITLE 1
section.slide--horizontal.slide--theme1(data-transition='fade-out')
  .bg-gradient-blue.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 Live demo

// TITLE 2
section.slide--horizontal.slide--theme1(data-transition='fade-in')
  .bg-gradient-dark.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 
      .di.strike Live
      |  demo

section
  div small gif of "Upload JSON"
  div but everything in dahsboard also in API
  div would be too easy
  div so gonna do it in ruby

section
  div Let's say directory with list of files
  div each file is a super heroe, showing the record
  div schemaless

section
  div ruby instanciate app
  div read directory
  div batch and push
  div explain asynchronous/batch
  div add a bit of configuration to explain why interesting that way

section
  div show it in the dashboard as searchable already

section
  div building the UI
  div all search UI follow a similar pattern
  div think of them as UI widgets

section
  div InstantSearch, js lib with those widgets
  div bind them together
  div agnostic, react, or vue, or android, or swift

section
  div showing the IS code example, easy to extend
  div widget, template, sting
  div demo of Marvel


// Dashboard
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Dashboard UI
    .fla.flcnw.h-100
      .fla.flc
        img.h-80.shadow-1.br2(src='./img/dashboard.gif')
  aside.notes
    p Search API. Push copy of data, expose endpoint to search in it
    p Fast & Relevant
    p Typos, plurals, synonyms
    p Allow creating this UI. Each character is a call

