// TITLE
section.slide--horizontal.slide--theme1
  .bg-gradient-blue.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6= talk_title

// Tim Carry
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Who am I?
    .fla.flcnw.h-100
      .fla.flrnw.h-50
        .fln.w-50.flc
          img.br3.w-60(src='./img/avatar.jpg')
        .fln.w-50.flcnw
          .fla.f-headline.b.flc Tim Carry
          .fla.f-headline.b.algolia-blue.flc @pixelastic
  aside.notes
    p Happy to be in Auckland
    p Was there in 2012, year off, back for one month
    p Back to Paris in a few days

