// SERVERLESS
section.slide--horizontal.slide--theme1(data-transition='fade-out')
  .bg-gradient-blue.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 How is that "serverless"?

// Building blocks
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b APIs as building blocks
    .fla.flrnw
      .fln.w-two-thirds.flcnw.flc
        .f-subheadline
          .db Each block 
            .di.b.algolia-blue solves
          .db a specific problem
      .fln.w-third.flcnw.flc
        img.h-100(src='./img/building-blocks.png')
    aside.notes
      p There are servers, but it's someone else problem

// Existing ecosystem
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Current ecosystem
    .fla.h-100.relative
      .absolute.top-15.left-15
        +brick('3x1', 'port-gore', './img/stripe.png', 'Payment', 'right')
      .absolute.top-45.left-10
        +brick('3x1', 'port-gore', './img/cloudinary.svg', 'Images', 'right')
      .absolute.top-75.left-15
        +brick('3x1', 'port-gore', './img/netlify.svg', 'Hosting', 'right')

      .absolute.top-40.left-40.fragment
        +brick_algolia()

      .absolute.top-15.left-65
        +brick('3x1', 'port-gore', './img/twilio.svg', 'Messages', 'left')
      .absolute.top-45.left-75
        +brick('3x1', 'port-gore', './img/mailjet.png', 'E-mails', 'left')
      .absolute.top-75.left-65
        +brick('3x1', 'port-gore', './img/auth0.png', 'Authentication', 'left')
    aside.notes
      p Easy to solve at first, harder at scale
      p Known, partly solved problems already
      p Not your core business, focus on what value you bring
